.form-control {
  margin-bottom: 20px;
}

h1.display-1 {
  margin-bottom: 5px;
}

h3.text-muted {
  margin-top: 2px;
}

h4 {
  margin-top: 20px;
}

p {
  margin-bottom: 5px;
}

tr .indextabula {
  font-size: 10px;
}

.sharp {
  border-radius: 0;
}

.ikonas {
  font-size: 15px;
  color: grey;
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: transparent;
}

#controlRow {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nopadding {
  padding: 0;
}

.ieraksts {
  padding-left: 0;
  padding-right: 0;
}

.activated {
  background-color: #1DA078;
}

.ieraksts:nth-child(even) .col-xs-4 {
  background: #FFFFFF;
}

#sectionRow {
  padding-top: 50px;
  border-bottom: 1px solid grey;
}

.info {
  display: none;
}

.darbibas {
  display: none;
}

.kontakti {
  display: none;
}
