.form-control {
  margin-bottom: 20px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 2px;
  margin-bottom: 5px;
}

h1.display-1 {
  margin-bottom: 5px;
}

h3.text-muted {
  margin-top: 2px;
}

h4 {
  margin-top: 20px;
}

p {
  margin-bottom: 5px;
}

tr .indextabula {
  font-size: 10px;
}

.navbar {
  margin-bottom: 0;
}

.sharp {
  border-radius: 0;
}

#clientTitle {
  padding-top: 60px;
}

#clientRow {
  border-bottom: 1px solid grey;
}

#middleRow {
  background: #caccd1;
  border-bottom: 1px solid grey;
}

#sectionRow {
  padding-top: 50px;
  border-bottom: 1px solid grey;
}

.display-5.text-muted {
  margin-bottom: 30px;
}

.ikona {
  font-size: 15px;
  color: grey;
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.deleteForma {
  display: inline-block;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
}

.virsraksts {
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 2px black;
  background-color: #0A6360;
}

.headingi2 {
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 2px black;
  background-color: #5DD5D0;
}

.normalizee {
  padding: 0;
}

.notshown {
  display: none;
}
